{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Les P'tites recettes{% endblock %}

{% block body %}
    <div class="container-fluid my-5 w-50 mx-auto">
        <h1>Modifier mon mot de passe</h1>

        <a href="{{ path('account') }}">Retour au compte</a>
        <hr>
        {% if notification %}
            <div class="alert alert-info">{{ notification }}</div>
        {% endif %}

        {{ form(form) }}
    </div>

{% endblock %}
