{% extends 'base.html.twig' %}

{% block title %}Accueil - Recettes{% endblock %}

{% block body %}
    <div class="mt-4 p-5 bg-dark text-white rounded w-50 mx-auto">
        <h1>Jumbotron Example</h1>
        <p>Lorem ipsum...</p>
    </div>
{% endblock %}
